[BUG] After Update to 3.5.0 Clustering gets stuck

- [X] I confirm that I have reviewed the [FAQ](https://github.com/NeptuneHub/AudioMuse-AI/blob/main/docs/FAQ.md), [issues](https://github.com/NeptuneHub/AudioMuse-AI/issues?q=is%3Aissue), and [discussions](https://github.com/NeptuneHub/AudioMuse-AI/discussions?discussions_q=), and found no existing solution.

**Describe the bug**

I have updated to the latest version 3.5.0 via my Docker Compose install on Ubuntu Server. I re-ran the Analysis. But when I start Clustering, it works through 80, 100 or sometimes 160 batches and then gets stuck. There are no error messages that I can see.

**To Reproduce**

Steps to reproduce the behavior:
0. I updated to 3.5.0
1. I Start Analysis (for an update of the index as mentioned in the release)
2. I Start Clustering
3. After 80, 100 or 140 batches, it gets stuck. I let it run for several hours and it is not progressing.

**Expected behavior**

The Clustering should work as before.

**Screenshots**



**Environment (please complete the following information):**

 - OS: Ubuntu Server latest version
 - Deployment: Docker Compose
 - AudioMuse-AI Version: 3.5.0
 - Navidrome/Jellyfin Version: Navidrome latests
 - Browser: Firefox
 - CPU: Intel
 - RAM: 16 GB
 - Disk: SSD

**Additional context**

I couldn't copy the logs from the Analysis/Clustering page. But there were no error messages whatsoever... 


Hi and thanks for the feedback. Just some question to better understand:

- Can you share the log of both Flask and worker container? if you have more than one worker, share all?
- Are you using the default setting for clustering? with or without the "auto parameter discovery"?
- How many song you have in your collection?

The high probability is that worker process crashed and then main clustering didn't discovered it and all remain happended. There is some mechanism in place to discover it and at least return what already calculated but maybe they didn't covered a specific scenario.

Hi there, thanks! I've tried it again a few times. Once it worked fine, but today it got stuck again at 200/1000.

**Regarding your questions**
* I am sharing the logs below - I only have one worker
* Yes, I am using the default clustering settings and "auto parameter discovery"
* I have about 2000 songs in my collection (with more planned to upload)

**Log: AI Worker Instance (the bit after it names all the clustered songs**
```
[INFO]-[03-09-2026 10-04-38]-[ClusteringBatchTask-8e454e36-a134-4810-ac5e-237f6125c984_s0_batch_9] Iteration 199 complete. Batch best score: 9.11  
[INFO]-[03-09-2026 10-04-38]-[ClusteringBatchTask-8e454e36-a134-4810-ac5e-237f6125c984_s0_batch_9] Batch complete. Best score: 9.11  
[INFO]-[03-09-2026 10-04-38]-Finished 8e454e36-a134-4810-ac5e-237f6125c984_s0_batch_9 in 4.9s  
[INFO]-[03-09-2026 10-04-38]-Running 8e454e36-a134-4810-ac5e-237f6125c984_s0_batch_10 (tasks.clustering.run_clustering_batch_task) after 0 worker loss(es) of an allowed 3  
[INFO]-[03-09-2026 10-04-38]-Starting clustering batch task 8e454e36-a134-4810-ac5e-237f6125c984_s0_batch_10 (Batch: Batch_10)  
[INFO]-[03-09-2026 10-04-38]-[ClusteringBatchTask-8e454e36-a134-4810-ac5e-237f6125c984_s0_batch_10] Batch started.  
[INFO]-[03-09-2026 10-04-38]-[Batch-8e454e36-a134-4810-ac5e-237f6125c984_s0_batch_10] Sampling run 200: 1909/1909 tracks retained; 0 changed.  
[INFO]-[03-09-2026 10-04-38]-[Batch-8e454e36-a134-4810-ac5e-237f6125c984_s0_batch_10] Iteration 200: Fetching data for 1909 tracks. Use embeddings: True  
[INFO]-[03-09-2026 10-04-40]-[MainClusteringTask-8e454e36-a134-4810-ac5e-237f6125c984] Absorbed 1 finished batch(es): 200 runs completed.  
[INFO]-[03-09-2026 10-04-40]-[MainClusteringTask-8e454e36-a134-4810-ac5e-237f6125c984] Progress: 200/1000 runs. Active batches: 3. Best score: 12.70
```

**Log: AI-Flask-App**
[03/Sep/2026:10:03:11 +0200] "GET / HTTP/1.1" 302 199 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"  
[03/Sep/2026:10:03:11 +0200] "GET /login HTTP/1.1" 200 5312 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"  
[03/Sep/2026:10:03:11 +0200] "GET /static/menu.css HTTP/1.1" 200 0 "[Placeholder_MY_URL]/login" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"  
[03/Sep/2026:10:03:11 +0200] "GET /static/style.css HTTP/1.1" 200 0 "[Placeholder_MY_URL]/login" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"  
/usr/local/lib/python3.12/dist-packages/jwt/api_jwt.py:147: InsecureKeyLengthWarning: The HMAC key is 30 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
  return self._jws.encode(  
[03/Sep/2026:10:03:30 +0200] "POST /auth HTTP/1.1" 302 189 "[Placeholder_MY_URL]/login" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
/usr/local/lib/python3.12/dist-packages/jwt/api_jwt.py:368: InsecureKeyLengthWarning: The HMAC key is 30 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
  decoded = self.decode_complete(  
[03/Sep/2026:10:03:30 +0200] "GET / HTTP/1.1" 200 47504 "[Placeholder_MY_URL]/login" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/style.css HTTP/1.1" 304 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/menu.css HTTP/1.1" 304 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/server_selector.js HTTP/1.1" 200 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/restart_wait.js HTTP/1.1" 200 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/task_status.js HTTP/1.1" 200 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/song_tags.js HTTP/1.1" 200 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/menu.js HTTP/1.1" 200 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/error_display.js HTTP/1.1" 200 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:31 +0200] "GET /static/chart.js HTTP/1.1" 200 0 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-31]-API request: GET /api/dashboard/summary
[03/Sep/2026:10:03:31 +0200] "GET /api/dashboard/summary HTTP/1.1" 200 4111 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /analysis HTTP/1.1" 200 38556 "[Placeholder_MY_URL]/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/style.css HTTP/1.1" 304 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/menu.css HTTP/1.1" 304 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/server_selector.js HTTP/1.1" 304 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/task_status.js HTTP/1.1" 304 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/restart_wait.js HTTP/1.1" 304 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/menu.js HTTP/1.1" 304 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/song_tags.js HTTP/1.1" 304 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/error_display.js HTTP/1.1" 304 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[03/Sep/2026:10:03:38 +0200] "GET /static/script.js HTTP/1.1" 200 0 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-39]-API request: GET /api/config
[03/Sep/2026:10:03:39 +0200] "GET /api/config HTTP/1.1" 200 1943 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-39]-API request: GET /api/active_tasks
[03/Sep/2026:10:03:39 +0200] "GET /api/active_tasks HTTP/1.1" 200 3 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-39]-API request: GET /api/last_task
[03/Sep/2026:10:03:39 +0200] "GET /api/last_task HTTP/1.1" 200 2274 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-39]-API request: GET /api/playlists
[03/Sep/2026:10:03:39 +0200] "GET /api/playlists HTTP/1.1" 200 58442 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-42]-API request: GET /api/active_tasks
[03/Sep/2026:10:03:42 +0200] "GET /api/active_tasks HTTP/1.1" 200 3 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-45]-API request: GET /api/active_tasks
[03/Sep/2026:10:03:45 +0200] "GET /api/active_tasks HTTP/1.1" 200 3 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-48]-API request: GET /api/active_tasks
[03/Sep/2026:10:03:48 +0200] "GET /api/active_tasks HTTP/1.1" 200 3 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-50]-API request: POST /api/clustering/start
[INFO]-[03-09-2026 10-03-50]-Starting cleanup of all previous main tasks.
[INFO]-[03-09-2026 10-03-50]-Archived 1 previous main tasks and deleted 0 child tasks.
[INFO]-[03-09-2026 10-03-50]-Queued main_clustering task 8e454e36-a134-4810-ac5e-237f6125c984 on the high queue.
[03/Sep/2026:10:03:50 +0200] "POST /api/clustering/start HTTP/1.1" 202 96 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-51]-API request: GET /api/active_tasks
[03/Sep/2026:10:03:51 +0200] "GET /api/active_tasks HTTP/1.1" 200 1076 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-54]-API request: GET /api/active_tasks
[03/Sep/2026:10:03:54 +0200] "GET /api/active_tasks HTTP/1.1" 200 1094 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-03-57]-API request: GET /api/active_tasks
[03/Sep/2026:10:03:57 +0200] "GET /api/active_tasks HTTP/1.1" 200 1094 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-00]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:00 +0200] "GET /api/active_tasks HTTP/1.1" 200 1376 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-01]-dashboard_stats refreshed in 0.0s
[INFO]-[03-09-2026 10-04-03]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:03 +0200] "GET /api/active_tasks HTTP/1.1" 200 1377 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-06]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:06 +0200] "GET /api/active_tasks HTTP/1.1" 200 1648 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-09]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:09 +0200] "GET /api/active_tasks HTTP/1.1" 200 1916 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-12]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:12 +0200] "GET /api/active_tasks HTTP/1.1" 200 1916 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-16]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:16 +0200] "GET /api/active_tasks HTTP/1.1" 200 2174 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-19]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:19 +0200] "GET /api/active_tasks HTTP/1.1" 200 2375 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-22]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:22 +0200] "GET /api/active_tasks HTTP/1.1" 200 2375 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-25]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:25 +0200] "GET /api/active_tasks HTTP/1.1" 200 2601 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-28]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:28 +0200] "GET /api/active_tasks HTTP/1.1" 200 2845 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-31]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:31 +0200] "GET /api/active_tasks HTTP/1.1" 200 2845 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-34]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:34 +0200] "GET /api/active_tasks HTTP/1.1" 200 3045 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-37]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:37 +0200] "GET /api/active_tasks HTTP/1.1" 200 3211 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-40]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:40 +0200] "GET /api/active_tasks HTTP/1.1" 200 3212 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-43]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:43 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-46]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:46 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-49]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:49 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-52]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:52 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-55]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:55 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-04-58]-API request: GET /api/active_tasks
[03/Sep/2026:10:04:58 +0200] "GET /api/active_tasks HTTP/1.1" 200 3409 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-01]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:01 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-01]-dashboard_stats refreshed in 0.0s
[INFO]-[03-09-2026 10-05-04]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:04 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-07]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:07 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-10]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:10 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-13]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:13 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-16]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:16 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-19]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:19 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-22]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:22 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-25]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:25 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-28]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:28 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-31]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:31 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-34]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:34 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-37]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:37 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-40]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:40 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-43]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:43 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-46]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:46 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-49]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:49 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-52]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:52 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-55]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:55 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-05-58]-API request: GET /api/active_tasks
[03/Sep/2026:10:05:58 +0200] "GET /api/active_tasks HTTP/1.1" 200 3410 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-06-01]-API request: GET /api/active_tasks
[03/Sep/2026:10:06:01 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-06-01]-dashboard_stats refreshed in 0.0s
[INFO]-[03-09-2026 10-06-04]-API request: GET /api/active_tasks
[03/Sep/2026:10:06:04 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"
[INFO]-[03-09-2026 10-06-07]-API request: GET /api/active_tasks
[03/Sep/2026:10:06:07 +0200] "GET /api/active_tasks HTTP/1.1" 200 3411 "[Placeholder_MY_URL]/analysis" "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:155.0) Gecko/20100101 Firefox/155.0"

Look in this part of the log I didn’t see any error message.
How many song do you have in your collection?
Before the update which version did you had ? Was a version where the clustering didn’t had the “automatic parameters” discovery?
Are you using the default clustering algorithm?
Usually how much time it takes the clustering for your library ?
Which processor do you have ?
You stated 16gb available, but during the cluster at least 8gb are available for audiomuse-ai? 

Going blindly in this way my suggestion is to lower the number of run (maybe 100 is already enough) and also the number of sampled song (the percentile parameters, if it’s 50 maybe put less out 25) and then run clustering disabling the automated parameter discover. 

if clustering remain appended and never finish, usually is because process died in a bad way, and this usually come form ending of cpu/ram resources.
Maybe in the full Flask and Worker log there is some additional information but whiteout I have no big idea of the reason.

EDIT: I try to improve the safeguard in case of stucked clustering and created the PR https://github.com/NeptuneHub/AudioMuse-AI/pull/889

In the PR you will find the link to PR image to downlaod when it will finish the build in around 1h. Can you give a check and let me know?

This doesnt fix that the resource could exauste in some cases, but should say to the system "look if I already did multiple run, and one process crash, give me back the better run and avoid to stay blcoked".

In v3.5.2 just released (new image should be ready in around 1h) I added different additional safeguard to avoid hanging batch process like what you reported about clusstering.

I’m going to close this, but if you still have issue even with the updated version and eventually lowering the number of run, feel free to open a new issue. Thanks.